@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.task-run-button {
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: center;
    background: #42A5F5;
}

.task-run-button button {
    background: inherit;
    color: inherit;
    border: 0;
    padding: 0;
}

.task-run-button .material-icons {
    line-height: 32px;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

td {
    padding: 0 1ex;
}
