@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.actions {
    display: flex;
}

.btn {
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: center;
    color: #42A5F5;
}

.btn.btn-primary {
    background: #42A5F5;
    color: white;
}

.btn button {
    background: inherit;
    color: inherit;
    border: 0;
    padding: 0;
}

.btn .material-icons {
    line-height: 32px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

td {
    padding: 0 1ex;
}

.output {
    font-family: monospace;
    white-space: pre;
    background: #1B1D1E;
    color: #DDD;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

td div.v-select {
    display: inline-block;
}
